* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    scroll-behavior: smooth;
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

:root {
    --bg-primary: #0d0d0d;
    --bg-secondary: #1a1a1a;
    --text-primary: #f5f5f5;
    --text-secondary: #a3a3a3;
    --inputFields: #262626;
    --accentColor: #f97316;
    --borderColor: #333333;
    --dangerDelete: #dc2626;
}

[data-theme="light"] {
    --bg-primary: #f9f9f9;
    --bg-secondary: #ffffff;
    --text-primary: #1a1a1a;
    --text-secondary: #555555;
    --inputFields: #ffffff;
    --accentColor: #f97316;
    --borderColor: #dcdcdc;
    --dangerDelete: #dc2626;
}

#your-div {
    position: relative;
    background-color: #000000;
    background-image:
        radial-gradient(circle at 1px 1px, rgba(139, 92, 246, 0.2) 1px, transparent 0),
        radial-gradient(circle at 1px 1px, rgba(59, 130, 246, 0.18) 1px, transparent 0),
        radial-gradient(circle at 1px 1px, rgba(236, 72, 153, 0.15) 1px, transparent 0);
    background-size: 20px 20px, 30px 30px, 25px 25px;
    background-position: 0 0, 10px 10px, 15px 5px;
}

.navbar {
    width: 100%;
    /* height: 120px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-primary);
    /* border: 1px solid var(--borderColor); */
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: 2rem;
    /* background: rgb(12, 13, 13, 0.7); */
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
}

[data-theme="light"] .navbar {
    background: rgba(249, 249, 249, 0.7);
}

.navbar .logo h1 {
    font-size: 3rem;
    font-weight: 600;
    /* padding-left: 20rem; */
    /* margin-top: 2rem; */
}

.navbar .nav-controls a i {
    font-size: 1.6rem;
    cursor: pointer;
    /* padding-right: 2.5rem; */
    border-radius: 6px;
}

.navbar .nav-controls a:link,
.navbar .nav-controls a:visited {
    color: var(--text-primary);
    text-decoration: none;
}

[data-theme="light"] .navbar .nav-controls .nav-btn .ri-sun-fill {
    display: none;
}

[data-theme="light"] .navbar .nav-controls .nav-btn .ri-moon-fill {
    display: inline;
}

.navbar .nav-controls button {
    background-color: var(--accentColor);
    color: var(--bg-primary);
    font-weight: 600;
    border: 1px solid transparent;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;

}

.tagLine {
    text-align: center;
    color: var(--text-primary);
    font-size: 1.5rem;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.tagLine h1 {
    font-weight: 600;
}

.tagLine span {
    color: var(--accentColor);
    text-decoration: underline;
    text-underline-offset: 11px;
}

.mainContainer {
    justify-self: center;
    height: auto;
    border: 1px solid var(--borderColor);
    color: var(--text-secondary);
    max-width: 400px;
    padding: 50px 40px;
    border-radius: 20px;
    width: 100%;
}

.mainContainer .containerForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.mainContainer .containerForm>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mainContainer .containerForm input,
.mainContainer .containerForm select {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--inputFields);
    padding: 0.65rem 0.75rem;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
    color: var(--text-secondary);
}

.mainContainer .containerForm input:focus,
select:focus {
    outline: none;
    border-color: var(--accentColor);
}

.mainContainer .containerForm #category:focus {
    background-color: var(--bg-secondary);
    border-color: var(--accentColor);
}


.mainContainer .containerForm label {
    font-size: 1.15rem;
    font-weight: 500;
}

.mainContainer .containerForm label,
textarea,
select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

[data-theme="light"] .mainContainer #addBtn {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
}

[data-theme="light"] .mainContainer {
    box-shadow: 8px -1px 10px rgba(0, 0, 0, 0.3);
}

.mainContainer #addBtn {
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    margin-top: 25px;
    padding: 0.65rem 11rem;
    justify-self: center;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 600;
    border: 1px solid transparent;
    background-color: var(--accentColor);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}



.mainContainer #addBtn:hover {
    background-color: #ff9800;
}

.mainContainer .summary {
    justify-self: center;
    padding: 3rem 2.5rem;
}

.mainContainer .summary h2 {
    font-size: 1.9rem;
    font-weight: 700;
}

.mainContainer .summary h2 span {
    color: var(--accentColor);
}

.mainContainer .filter h3 {
    font-size: 1.15rem;
    font-weight: 600;
    justify-self: center;
    margin-bottom: 15px;
}

.mainContainer .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainContainer .filter h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.mainContainer .filter #filterCategory {
    background-color: var(--inputFields);
    color: var(--text-secondary);
    border: 1px solid transparent;
    padding: 0.5rem 7.5rem;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    transition: 0.2s ease-in-out;
}

.mainContainer .filter #filterCategory:focus,
#filterCategory:hover {
    background-color: var(--bg-secondary);
    border-color: var(--accentColor);
}

.toggleBtn {
    font-size: 2rem;
    font-weight: 500;
    color: var(--accentColor);
    display: flex;
    align-self: center;
    justify-self: center;
}

/* New li list styling*/
.expense-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 0.7rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    background-color: var(--inputFields);
    color: var(--text-primary);
    border-radius: 0.65rem;
    text-transform: capitalize;
    font-size: 0.85rem;
    font-weight: 400;
    animation: fadeIn 0.3s ease-in-out;
}

.removeBtn {
    background-color: var(--dangerDelete);
    text-transform: capitalize;
    padding: 0.35rem 0.35rem;
    border-radius: 0.35rem;
    border: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.removeBtn:hover {
    transform: scale(1.095);
}

[data-theme="light"] .expense-item {
    border: 1px solid var(--borderColor);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.chartContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    justify-self: center;
    text-align: center;
    border: 1px solid var(--borderColor);
    margin-top: 10vh;
    padding: 1.5rem 1.5rem;
    position: relative;
    overflow: hidden;
}

#expenseChart {
    width: 100% !important;
    height: 400px !important;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    margin-top: 2rem;
}

.chartContainer {
    border-radius: 20px;
}

.chartContainer h3 {
    color: var(--text-primary);
}

.chartContainer p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-primary);
}

/* <------------Responsiveness-------------> */
@media (max-width: 1200px) {
    .navbar .logo h1 {
        font-size: 2.7rem;
    }

    .navbar .nav-controls i {
        font-size: 1.8rem;
    }

    .tagLine h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 1024px) {
    .tagLine h1 {
        font-size: 2.9rem;
    }
}

@media (max-width: 768px) {
    .navbar .logo h1 {
        font-size: 2.3rem;
        margin-left: 20px;
    }

    .navbar .nav-controls i {
        font-size: 1.6rem;
        margin-right: 30px;
    }

    .tagLine h1 {
        font-size: 2rem;
        padding: 10px 20px;
        margin-bottom: -10px;
    }
}

@media (max-width: 576px) {
    .navbar .logo h1 {
        font-size: 2.2rem;
        padding: 0rem 1.5rem;
    }

    .navbar .nav-controls .nav-btn i {
        padding: 0rem 2rem;
    }

    .tagLine h1 {
        font-size: 1.95rem;
    }

    /* to solve that mf bug */
    .containerForm input,
    .containerForm select,
    .containerForm label,
    .containerForm #addBtn {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }

}

@media (max-width: 480px) {
    .navbar .logo h1 {
        padding: 0rem 0.5rem;
    }

    .navbar .nav-controls .nav-btn i {
        padding: 0rem 0.6rem;
    }

    .tagLine h1 {
        font-size: 1.95rem;
        padding: 0rem 2rem;
    }

    .mainContainer {
        max-width: 60%;
    }

    .mainContainer #addBtn {
        padding: 0.65rem 8rem;
    }

    .chartContainer {
        max-width: 70%;
    }

    /* to solve that mf bug */
    .containerForm input,
    .containerForm select,
    .containerForm label,
    .containerForm #addBtn {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 420px) {
    .navbar {
        height: 13%;
    }

    .navbar .logo h1 {
        font-size: 2rem;
    }

    .mainContainer .containerForm {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .mainContainer #addBtn {
        padding: 0.6rem 7rem;
    }

    .mainContainer .summary h2 {
        font-size: 1.5rem;
        display: flex;
        gap: 10px;
    }

    .mainContainer .summary {
        width: 100%;
    }

    .mainContainer .filter #filterCategory {
        padding: 0.5rem 5rem;
    }

    /* to solve that mf bug */
    .containerForm input,
    .containerForm select,
    .containerForm label,
    .containerForm #addBtn {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }

}

@media (max-width: 360px) {
    .tagLine {
        transform: translateY(-30px);
    }

    .mainContainer .filter #filterCategory {
        padding: 0.5rem 4rem;
    }

     /* to solve that mf bug */
     .containerForm input,
     .containerForm select,
     .containerForm label,
     .containerForm #addBtn {
         max-width: 100%;
         width: 100%;
         box-sizing: border-box;
     }
}

@media (max-width: 320px) {
    .navbar .logo h1 {
        font-size: 1.7rem;
    }

    .navbar .nav-controls .nav-btn i {
        font-size: 1.5rem;
    }

    .mainContainer #addBtn {
        padding: 0.6rem 5.5rem;
    }

    .mainContainer .filter h3 {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .mainContainer .filter #filterCategory {
        padding: 0.5rem 3rem;
    }

     /* to solve that mf bug */
     .containerForm input,
     .containerForm select,
     .containerForm label,
     .containerForm #addBtn {
         max-width: 100%;
         width: 100%;
         box-sizing: border-box;
     }
}